#geral{
    width: 100%;
    height: 100%;

    //pode comentar
    border:1px solid black;

    /* Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-orient:horizontal;
    box-pack:center;
    box-align:center;
}

.logo{

    width: 300px;
    height: 195px;
}

.mini-logo
{
    float: right;
    width:107px;
    height: 50px !important;
}
footer{
    color:#777;
    text-align: center;
}
.select-documento{
    display: inline-block !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.mask-cpf-cnpj{
    display: inline-block !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.label-inline{
    display: inline-block !important;
    width:20%;

}
.input-inline{
    display: inline-block !important;
    width:80%;

}
.recados 
{
    color: #3c763d;
    position: relative;
    padding: 15px 15px;     
    background-color: #dff0d8;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px 0;
}
@media (min-width:768px){
    .recados 
    {   
        border-width: 1px;
        border-color: #e7e7e7;
        border-radius: 4px 4px 0 0;
        box-shadow: none;
    }
}
.recados-lista
{
    padding: 9px 14px;
    margin-bottom: 14px;
    border: 1px solid #e1e1e8;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.div-to-pop{        
    height: 100%;        
    overflow: auto;
    display: block;
    margin: 0px;
    text-wrap: none;
}

.popup{
    width: 350px;
    height: auto;
    color: #2E8B57;
    padding: 10px 15px;
    opacity: 0.5;
    background-color: #f9f9f9;
    border: 1px solid #ddd;	
    white-space:normal !important;
}

.list-group-item
{
	padding: 0px;
}