<div class="panel panel-default">

   <div class="panel-heading">
      <h3>
         <span class="fa fa-smile-o"></span> <?php echo __('Clientes'); ?>                
         <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               <?php echo __('Actions');?><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('Cliente'), array('action' => 'add'), array('escape' => false)); ?></li>
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-list-alt"></i>'.' '   .__('List') .' '.__('Cidades'), array('controller' => 'cidades', 'action' => 'index'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('Cidade'), array('controller' => 'cidades', 'action' => 'add'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-list-alt"></i>'.' '   .__('List') .' '.__('Subgrupos'), array('controller' => 'subgrupos', 'action' => 'index'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('Subgrupo'), array('controller' => 'subgrupos', 'action' => 'add'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-list-alt"></i>'.' '   .__('List') .' '.__('Users'), array('controller' => 'users', 'action' => 'index'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('User'), array('controller' => 'users', 'action' => 'add'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-list-alt"></i>'.' '   .__('List') .' '.__('Unidades'), array('controller' => 'unidades', 'action' => 'index'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('Unidade'), array('controller' => 'unidades', 'action' => 'add'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-list-alt"></i>'.' '   .__('List') .' '.__('Chamados'), array('controller' => 'chamados', 'action' => 'index'), array('escape' => false)); ?></li> 
				<li class="list-group-item"><?php echo $this->Html->link('<i class="fa fa-plus-circle"></i>'.' '.__('New')  .' '.__('Chamado'), array('controller' => 'chamados', 'action' => 'add'), array('escape' => false)); ?></li> 
			 </ul>
         </div>
      </h3>
   </div>

   <div class="panel-body">
      <?php echo $this->element('filtros'); ?>
      <div class="table-responsive">         
         <table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th><?php echo $this->Paginator->sort('id'); ?></th>
							<th><?php echo $this->Paginator->sort('fantasia'); ?></th>
							<th><?php echo $this->Paginator->sort('razaosocial'); ?></th>
							<th><?php echo $this->Paginator->sort('cpfcnpj'); ?></th>
							<th><?php echo $this->Paginator->sort('cidade_id'); ?></th>
							
							
							
							
							
							
							
							
							
							
							
							<th><?php echo $this->Paginator->sort('contato'); ?></th>
							
							
							
							
							
							
							
							
							<th><?php echo $this->Paginator->sort('telefone'); ?></th>
							<th><?php echo $this->Paginator->sort('celular'); ?></th>
							<th><?php echo $this->Paginator->sort('email'); ?></th>
                    
                     
							
							<th class="actions"><?php echo __('Actions'); ?></th>
						</tr>
					</thead>
					<tbody>
<?php foreach ($clientes as $cliente): ?>
	<tr>
		<td><?php echo h($cliente['Cliente']['id']); ?>&nbsp;</td>
		<td><?php echo h($cliente['Cliente']['fantasia']); ?>&nbsp;</td>
		<td><?php echo h($cliente['Cliente']['razaosocial']); ?>&nbsp;</td>
		<td><?php echo h($cliente['Cliente']['cpfcnpj']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($cliente['Cidade']['nome'], array('controller' => 'cidades', 'action' => 'view', $cliente['Cidade']['id'])); ?>
		</td>
		
		<td><?php echo h($cliente['Cliente']['contato']); ?>&nbsp;</td>
		
		<td><?php echo h($cliente['Cliente']['telefone']); ?>&nbsp;</td>
		<td><?php echo h($cliente['Cliente']['celular']); ?>&nbsp;</td>
		<td><?php echo h($cliente['Cliente']['email']); ?>&nbsp;</td>
                
		
		<td class="actions">
			<?php echo $this->Html->link('<i class="fa fa-eye"></i>', array('action' => 'view', $cliente['Cliente']['id']), array('class' => 'btn btn-default btn-xs', 'title'=>__('View'), 'escape'=>false)); ?>
			<?php echo $this->Html->link('<i class="fa fa-pencil"></i>', array('action' => 'edit', $cliente['Cliente']['id']), array('class' => 'btn btn-default btn-xs', 'title'=>__('Edit'), 'escape'=>false)); ?>
			<?php echo $this->Form->postLink('<i class="fa fa-times"></i>', array('action' => 'delete', $cliente['Cliente']['id']), array('class' => 'btn btn-default btn-xs', 'title'=>__('Delete'), 'escape'=>false), __('Are you sure you want to delete # %s?', $cliente['Cliente']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
					</tbody>
				 </table>
      </div><!-- /.table-responsive -->

   </div>
   <?php echo $this->element('Paginator'); ?>	
</div>